@model INF354Act2.ViewModel.AdvancedViewModel
@using INF354Act2.ViewModel
@using System.Globalization
@using System.Data

<h1>Purchases from Clients:</h1>
<div class="criteria">
    @using (Html.BeginForm("ReportingTest", "Home", FormMethod.Post))
    {
        <label>From</label>
        @Html.TextBoxFor(m => m.DateFrom, "yyyy-MM-dd", new { @Value = "2011-01-30", @type = "date", @class = "form-control" })
        <label>To</label>
        @Html.TextBoxFor(m => m.DateTo, "yyyy-MM-dd", new { @Value = "2011-01-31", @type = "date", @class = "form-control" })
        <br />
        <input type="submit" value="Generate" class="btn btn-primary" />
    }
</div>
<hr />

@if (Model.pleaseWork != null)
{
    <div class="panel">
        @if (Model.chartData != null)
        {
            //Load the result of the EmployeeOrdersChart view into an image
            //This will make a call to the EmployeeOrdersChart controller action
            <img src="@Url.Action("EmployeeChart", "Home")" />
        }

    </div>

    //This third panel shows details of individual supplier orders
    //Orders are structured with control breaks, one for each Ship Method
    <div class="panel panel-info">
        @foreach (var group in Model.pleaseWork)
        {
            <h4>@group.Key</h4>
            <table class="table table-striped">
                <tr>
                    <th>Customer Name</th>
                    <th>Cashier</th>
                    <th>Invoice Amount</th>
                </tr>
                @foreach (ReportTest groupItem in group)
                {
                    <tr>
                        <td>@groupItem.custName</td>
                        <td>@groupItem.EmployeeName</td>
                        <td>@groupItem.invoiceTotal.ToString("C", CultureInfo.CurrentCulture)</td>
                    </tr>
                }
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>@group.Sum(item => item.invoiceTotal).ToString("C", CultureInfo.CurrentCulture)</strong></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <hr />
        }
        <h4>Total Customers for period:@Model.pleaseWork.Count()</h4>
        <h3>Grand Total: <strong>@Model.pleaseWork.Sum(group => group.Sum(item => item.invoiceTotal)).ToString("C", CultureInfo.CurrentCulture)</strong></h3>


    </div>

}
